
.vs/HyperionReactExpressFaviTunesCapstoneProject/FileContentIndex/5398304c-cae0-43f1-9fcc-09182affb847.vsidx

.vs/HyperionReactExpressFaviTunesCapstoneProject/FileContentIndex/read.lock

.vs/HyperionReactExpressFaviTunesCapstoneProject/v17/.wsuo

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

backend/.vs/
